/* GENERAL */
*{
    margin: 0;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.content{
    width: 100%;
    max-width: 920px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* HEADER GREY */
.header-angular{
    margin: 0;
    background: #707070 ;
    background-image: -webkit-linear-gradient(86deg, #fff 30%, #707070 30.3%);
    color:#FFF;    
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0 130px;
}
.header-content h3 {
    font-size: 23px;
}
.header-content h1{
    font-weight: 700;
    font-size: 48px;
}
.header-content p{
    margin-top: 24px;
    font-size: 16px;
}
.header-content a{
    text-decoration: none;
}
.header-content a div{
    display: inline-flex;
    justify-content: center;
    width: 160px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #fff;
    color: #888888;
    border: 1px solid #707070;
    text-decoration: none;
    margin: 20px 20px 0;
}

/* First section */
.content-form-row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form-text{
    width: 520px;
    margin: 0 60px 0 0;
}
.form-text h3{
    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin-bottom: 10px;
}
.form-text p{
    padding: 20px 0;
    text-align: left;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
.form-form{
    width: 340px;
}
.form-form input{
    color: #888888;
    border: 1px #888 solid;
    width: 328px;
    height: 28px;
    padding: 0 5px 0;
    margin: 7px 0 20px;
}
.form-form input[type=radio] {
    width: unset;
    vertical-align: middle;
    margin-right: 5px;
}
.form-form input[type=submit]{
    font-size: 18px;
    color: #888888;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 1px #888 solid;
}
.form-form label{
    text-align: left;
    vertical-align: super;
    margin: 0 40px 0 0;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

/* Products */
.divider {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
    color: #888888;
}

.divider > h3 {
    align-self: baseline;
    flex-grow: 2;
    white-space: nowrap;
    margin: 0 17px;
    font: normal normal bold 18px/16px Helvetica Neue;
}

.divider > hr {
    margin-top: 10px;
    width: 100%;
    border: 0;
    height: 1px;
    background: #888888;
}
.product-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}
.product-card{
    max-width: 200px;
}
.product-card-img{
    width: 200px;
    height: 150px;
    border: 1px solid #707070;
}
.product-card-name{
    font: normal normal normal 14px/16px Helvetica Neue;
    margin: 10px 0;
    font-weight: 300;
}
.product-card-description, .product-card-oldPrice, .product-card-installments{
    font: normal normal normal 12px/16px Helvetica Neue;
    font-weight: 300;
}
.product-card-description{
    margin-bottom: 10px;
}
.product-card-price{
    margin: 7px 0;
    color: #888888;
    font-weight: 400;
}
.product-card-buy{
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #707070;
    border-radius: 4px;
    margin: 10px 0 40px;

    display: inline-flex;
    justify-content: center;
    background-color: #fff;
    color: #888888;
    text-decoration: none;
}
.product-card a{
    text-decoration: none;
}
.product-more-row{
    display: flex;
    justify-content: center;
    width: 100%;
}
.product-more-row a{
    text-decoration: none;
}
.product-more-row a div{
    width: 260px;
    height: 39px;
    line-height: 39px;
    margin: 12px 0;
    color: #888888;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 4px;
}

/* Newsletter */
.newsletter-row{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #888888;
    margin: 60px 0;
}
.newsletter-row p{
    font-size: 16px;
}
.newsletter-form form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.newsletter-form form div{
    display: flex;
    flex-direction: column;
    text-align: initial;
    margin: 20px;
}
.newsletter-form form div label{
    margin-bottom: 7px;
}
.newsletter-form form div input{
    width: 340px;
    height: 30px;
    padding: 0 5px;
}
.newsletter-form form input[type=submit]{
    width: 260px;
    height: 39px;
    margin: 30px 0;
    font-size: 18px;
    color: #888888;
}

/* Footer */
.footer-angular{
    height: 300px;
    background-color: #707070;
}

.footer-angular svg {
    width: 100%;
    height: 100px;
  }
.footer-content{
    text-align: center;
    margin-top: 57px;
    color: #fff;
    font: normal normal normal 12px/18px Helvetica Neue;
}

/* MOBILE */
@media only screen and (max-width: 600px) {

    /* First section */
  .content{
    padding: 0;
  }
  .content-form-row{
    margin: 0;
    justify-content: center;
  }
  .form-text{
    margin:17px;
  }
  .form-text p {
    padding: 7px 0;
  }
  .form-form input{
    width: 97%;
  }
  .form-form{
    width: 100%;
    padding: 0 17px;
  }
    /* Products */
  .product-card {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .product-card-img{
    width: 169px;
    height: 129px;
    margin: 10px 23px 10px 10px;
  }
  .product-card-content{
    width: 200px;
  }
  .product-card-description{
    display: none;
  }
  /* Footer */
  .footer-angular{
      height: 157px;
  }
  .footer-angular svg{
      height: 50px;
  }
  .footer-content{
    margin-top: 20px;
  }
}
/*  */
/* 

*/

